@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-medium;
  }
  h4 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-base leading-relaxed;
  }
}

.custom-nav-btn {
  @apply absolute top-1/2 -translate-y-1/2 z-10 text-white text-3xl font-bold bg-black/50 rounded-full w-10 h-10 flex items-center justify-center transition hover:bg-black/80;
}


/* 스크롤은 되지만 스크롤바는 숨김 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

html, body {
  height: 100%;
}

.snap-y-mandatory {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.home-carousel .swiper-pagination {
  position: absolute !important;
  bottom: 12px !important;
  left: 0;
  right: 0;
}